#carrierdiscounts-entry-form label {
	width: 65px;
}

#carrierdiscounts-delete-form label {
	width: 65px;
}

#carrierdiscounts-entry-form .form-controls,
#carrierdiscounts-entry-form .error-wrapper,
#carrierdiscounts-delete-form .form-controls  {
	padding-left: 75px;
}
