.dispatched-driver{color:red;}
.emp-container{float:left;}
.loads-container{float:right;}
.emp-container{margin-right:10px;}
.color-block{color:#000000}
#disp-modal-tbl thead tr th{font-weight:normal; padding:0 5px}
#disp-modal-tbl .color-block div{line-height:25px;padding:0 5px}
#disp-modal-tbl{text-align:center}
.red-highlight{background-color:#ff2144;}
.emptable{font-size:12px}
.emptable td, .emptable th{padding:3px}
#dispatch-search{display:none}

#dispatch-search{
width:600px;height:200px;
background-color:#FFFFFF;
border: 2px solid gray;
padding:10px;
}
