body {
	background: #fff;
	font-family: Arial;
	font-size: 12px;
}

/* Header */

#header {
	background-color: #fff;
	height: 96px;
	position: fixed;
	width: 100%;
}

#header-left {
	float: left;
	height: 96px;	
}

#header-right {
	float: right;
	height: 96px;
	padding: 25px 25px 0 0;
}

#logo {
	float: left;
	height: 65px;
	width: 400px;
}

#title {
	float: left;
	font-size: 20px;
	font-weight: bold;
	height: 65px;
	letter-spacing: 2px;
	line-height: 65px;
	text-shadow: 1px 1px 0 #306754;
}

/* Content */

#content {
	padding: 25px;
	position: absolute;
	top: 97px;
	z-index: -1;
}

/* Forms */

label {
	float: left;
	margin-right: 10px;
	text-align: right;
}

.delete label {
	font-weight: bold;
}

.form-header {
	font-weight: bold;
	margin-bottom: 25px;	
}

.form-wrapper {
	margin-bottom: 15px;	
}

.error-wrapper {
	color: red;
	font-weight: bold;
	margin-bottom: 15px;	
}

.form-controls {
	margin-top: 25px;	
}

.message {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: 12px;
	font-weight: bold;
	height: 25px;
	line-height: 25px;	
	padding: 5px 15px;
	margin-bottom: 25px;
	text-align: center;
	width: inherit;
}

.message.success {
	border: 1px solid #306754;
}

.message.error {
	border: 1px solid red;
}

input[type="submit"] {
	margin-right: 10px;	
}

textarea {
	height: 75px;
	width: 250px;	
}

.datepicker, .timepicker {
	width: 75px;
}

.info-header {height:20px;background-color:gray;color:#FFFFFF;line-height:20px;font-size:18px;padding-left:10px}
.info-label div{font-weight:bold;padding-right:5px;text-align:right;font-size:14px;height:18px;line-height:18px}
.info-content div{line-height:18px;height:18px}

.info-button{text-align:right;padding-top:10px}

/*Dialog popu*/
.omaha{position:absolute}