#standardloads-entry-form label {
	width: 100px;
}

#standardloads-delete-form label {
	width: 100px;
}

#standardloads-entry-form .form-controls,
#standardloads-entry-form .error-wrapper,
#standardloads-delete-form .form-controls  {
	padding-left: 110px;
}
