#assets-entry-form label {
	width: 115px;
}

#assets-delete-form label {
	width: 115px;
}

#assets-entry-form .form-controls,
#assets-entry-form .error-wrapper,
#assets-delete-form .form-controls  {
	padding-left: 125px;
}
